[submodule "libtins"]
	path = libtins
	url = https://github.com/mfontanini/libtins.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
	branch = tags/release-1.8.0
